.page-header {
    background-color: #3A3A3A;
    border: none;
    margin-top: 0;
    padding: 20px 0px 20px 0px;
    text-align: center;
}
body{
  background-color: #D3D3D3;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 20pt;
    text-decoration: none;
}

.content {
    margin-left: 20px;
}

h1{
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-weight: lighter;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}
